
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#game{
    width: 100%;
    height: 100%;
}

canvas{
    border: 1px black solid ;
    background: url('../Image/panorama_landscapes_175/panorama_landscapes_175.jpg');
}
